---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import ImageVi from '@/assets/global/img_vi.png';
import Layout from '@/layouts/Layout.astro';
import snsNav from '@/data/snsNav';
import PageHdg from '@/components/ui/PageHdg.astro';
import PageFooter from '@/components/ui/PageFooter.astro';
import Deco from '@/components/ui/Deco.astro';

const metaData = {
  title: '私について | Naganoma Rikuのポートフォリオ',
  description: '管理人の詳細。SNSをフォローしてもらえると喜びます。',
};

const pageHdgData = {
  title: {
    ja: '私について',
    en: 'ABOUT',
  },
};

const PageFooterData = {
  description: '管理人の詳細。SNSをフォローしてもらえると喜びます。',
  nav: [
    {
      text: 'ホームに戻る',
      href: '/',
    },
    {
      text: 'セカイを見る',
      href: '/world/',
    },
  ],
};
---

<Layout title={metaData.title} description={metaData.description}>
  <main class="p-about u-page-overlay">
    <PageHdg {...pageHdgData} />
    <div class="col">
      <hgroup class="heading">
        <h2 class="heading-name">ナガノマ リク</h2>
        <p class="heading-age">Age 28</p>
      </hgroup>
      <div class="info">
        <section class="sec">
          <h3 class="sec-title">プロフィール</h3>
          <p class="sec-desc">
            1997年生まれ 大阪府出身。<br />2020年から大手飲料メーカーのパッケージ開発に従事し、<br
            />2023年にWeb業界へキャリアチェンジ。<br />フロントエンドエンジニア約3年間、<br
              class="u-md:hidden"
            />Webサイトの受託開発に勤める。
          </p>
        </section>
        <section class="sec">
          <h3 class="sec-title">言語 ・ スキル</h3>
          <ul class="sec-list">
            <li class="sec-item">
              <h4 class="sec-subtitle">言語</h4>
              <p class="sec-desc">HTML、CSS、JavaScript（TypeScript）、PHP</p>
            </li>
            <li class="sec-item">
              <h4 class="sec-subtitle">フレームワーク</h4>
              <p class="sec-desc">Astro、Nuxt.js、Vue、Alpine.js</p>
            </li>
            <li class="sec-item">
              <h4 class="sec-subtitle">その他</h4>
              <p class="sec-desc">WordPress、microCMS、Git、Docker、Claude Code</p>
            </li>
          </ul>
        </section>
      </div>
      <div class="visual">
        <Image src={ImageVi} alt="" class="vi" />
        <div class="sns">
          {
            snsNav.map((item) => (
              <a href={item.href} target="_blank" class="sns-link">
                <Icon name={`icon_${item.id}`} width={20} height={20} class="sns-logo" />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <Deco>
      <div class="deco">
        NAGANOMA<br />RIKU
      </div>
    </Deco>
  </main>
  <PageFooter {...PageFooterData} />
</Layout>

<style>
  @import '@/styles/_mql.css';

  .p-about {
    position: relative;
    display: grid;
    align-items: center;
  }

  .col {
    display: grid;
    grid-template-areas: 'heading' 'visual' 'info';
    margin: calc(98 * var(--px)) calc(20 * var(--px)) calc(80 * var(--px));

    @media (--mql-md) {
      grid-template:
        'heading visual' max-content
        'info visual' 1fr
        / 1fr calc(470 * var(--px));
      margin: calc(78 * var(--px)) calc(64 * var(--px)) 0;
    }
  }

  .heading {
    display: flex;
    grid-area: heading;
    column-gap: calc(8 * var(--px));
    align-items: flex-end;
    margin-left: calc(4 * var(--px));
    line-height: 1;
    transform: skewX(-13deg);
    rotate: -13deg;

    @media (--mql-md) {
      column-gap: calc(16 * var(--px));
      margin-left: calc(12 * var(--px));
      transform: skewX(-16deg);
      rotate: -8deg;
    }
  }

  .heading-name {
    font-family: var(--font-dela-gothic);
    font-size: calc(40 * var(--rem));

    @media (--mql-md) {
      font-size: calc(72 * var(--rem));
    }
  }

  .heading-age {
    font-family: var(--font-zen-dots);
    font-size: calc(12 * var(--rem));

    @media (--mql-md) {
      margin-bottom: calc(8 * var(--px));
      font-size: calc(18 * var(--rem));
    }
  }

  .info {
    display: grid;
    row-gap: calc(24 * var(--px));
    height: fit-content;
    margin-top: calc(52 * var(--px));

    @media (--mql-md) {
      margin-top: calc(70 * var(--px));
    }
  }

  .sec-title {
    --_clip: calc(12 / 170 * 100%);

    width: fit-content;
    min-width: calc(160 * var(--px));
    padding: calc(8 * var(--px)) calc(16 * var(--px)) calc(10 * var(--px));
    font-family: var(--font-dela-gothic);
    font-size: calc(14 * var(--rem));
    line-height: 1;
    color: var(--color-main);
    text-align: center;
    background-color: var(--color-sub);
    clip-path: polygon(var(--_clip) 0%, 100% 0%, calc(100% - var(--_clip)) 100%, 0% 100%);

    @media (--mql-md) {
      --_clip: calc(12 / 178 * 100%);

      min-width: calc(178 * var(--px));
      font-size: calc(16 * var(--rem));
    }

    + * {
      margin-top: calc(12 * var(--px));
    }
  }

  .sec-desc {
    font-size: calc(12 * var(--rem));
    font-weight: 500;

    @media (--mql-md) {
      font-size: calc(14 * var(--rem));
    }
  }

  .sec-list {
    display: grid;
    row-gap: calc(8 * var(--px));
  }

  .sec-subtitle {
    font-family: var(--font-dela-gothic);
    font-size: calc(14 * var(--rem));

    @media (--mql-md) {
      font-size: calc(16 * var(--rem));
    }

    + * {
      --_mt: 4;

      margin-top: calc(var(--_mt) * var(--px));

      @media (--mql-md) {
        --_mt: 2;
      }
    }
  }

  .visual {
    --_w: 320;

    position: relative;
    grid-area: visual;
    width: calc(var(--_w) * var(--px));
    margin-top: calc(16 * var(--px));
    margin-right: auto;
    margin-left: auto;

    @media (--mql-md) {
      --_w: 470;

      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .vi {
    width: 100%;
  }

  .sns {
    --_bottom: 12;
    --_left: 10;
    --_gap: 8;

    position: absolute;
    bottom: calc(var(--_bottom) * var(--px));
    left: calc(var(--_left) * var(--px));
    display: grid;
    row-gap: calc(var(--_gap) * var(--px));

    @media (--mql-md) {
      --_bottom: 100;
      --_left: 18;
      --_gap: 10;
    }
  }

  .sns-link {
    --_w: 32;
    --_clip-offset: calc(100% - 8 / 40 * 100%);
    --_clip-path: polygon(100% 0, 100% var(--_clip-offset), var(--_clip-offset) 100%, 0 100%, 0 0);
    --_bg-color: var(--color-pure-white);
    --_border-offset: 2px;
    --_border-color: var(--color-lynch);
    --_border: drop-shadow(calc(var(--_border-offset) * -1) var(--_border-offset) 0 var(--_border-color))
      drop-shadow(var(--_border-offset) calc(var(--_border-offset) * -1) 0 var(--_border-color))
      drop-shadow(calc(var(--_border-offset) * -1) calc(var(--_border-offset) * -1) 0 var(--_border-color))
      drop-shadow(var(--_border-offset) var(--_border-offset) 0 var(--_border-color));

    position: relative;
    display: grid;
    place-items: center;
    width: calc(var(--_w) * var(--px));
    aspect-ratio: 1;
    filter: var(--_border);
    clip-path: var(--_clip-path);

    @media (--mql-md) {
      --_w: 40;
    }

    @media (any-hover: hover) {
      &:hover {
        --_bg-color: var(--color-golden-yellow);
      }
    }

    &::before {
      position: absolute;
      inset: 0;
      width: calc(100% - var(--_border-offset));
      aspect-ratio: 1;
      margin: auto;
      pointer-events: none;
      content: '';
      background-color: var(--_bg-color);
      clip-path: var(--_clip-path);
    }
  }

  .sns-logo {
    position: relative;
    width: 50%;
  }

  .deco {
    display: none;

    @media (--mql-md) {
      position: absolute;
      top: calc(202 * var(--px));
      left: calc(24 * var(--px));
      z-index: 1;
      display: block;
      font-family: var(--font-zen-dots);
      font-size: calc(140 * var(--rem));
      line-height: 1;
      color: var(--color-main);
      white-space: nowrap;
      opacity: 0.4;
      transform: skewX(-16deg);
      transform-origin: left top;
      rotate: -8deg;
    }
  }
</style>
