---
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Layout from '@/layouts/Layout.astro';
import ImageFrame from '@/components/helper/ImageFrame.astro';
import PageHdg from '@/components/ui/PageHdg.astro';
import PageFooter from '@/components/ui/PageFooter.astro';
import Deco from '@/components/ui/Deco.astro';

interface Props {
  entry: CollectionEntry<'works'>;
}

export async function getStaticPaths() {
  const worksEntries = await getCollection('works');
  return worksEntries.map((entry: CollectionEntry<'works'>) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const metaData = {
  title: `${entry.data.title.ja} | 制作実績 | Naganoma Rikuのポートフォリオ`,
  description: entry.data.description || '',
};

const pageHdgData = {
  tag: 'h2' as const,
  title: {
    ja: '制作実績',
    en: 'WORKS',
  },
};

const PageFooterData = {
  description: '制作実績の詳細。「サイトを見る」で該当ページに移動。',
  nav: [
    {
      text: '一覧に戻る',
      href: '/works/',
    },
    {
      text: 'サイトを見る',
      href: entry.data.siteUrl || '',
      target: '_blank',
    },
  ],
};
---

<Layout title={metaData.title} description={metaData.description}>
  <main class="p-works-detail u-page-overlay">
    <PageHdg {...pageHdgData} />
    <article data-transition-slide class="article">
      <hgroup class="heading">
        <p class="heading-client">{entry.data.client.en}</p>
        <h1 class="heading-title">{entry.data.title.ja}</h1>
      </hgroup>
      <div class="p-works-detail-body">
        <Content />
      </div>
      <div x-data="carousel" id="works-carousel" class="carousel">
        <div x-ref="viewport" class="carousel-viewport">
          <div class="carousel-list">
            {
              Array.from({ length: entry.data.gallery }, (_, i) => (
                <div x-bind={`bindSlide(${i})`} class="carousel-slide">
                  <ImageFrame srcPaths={[`works/img_${entry.id}${String(i + 1).padStart(2, '0')}.jpg`]} />
                </div>
              ))
            }
          </div>
        </div>
        <div class="carousel-control">
          <button
            @click="onPrev(); $store.config.playSoundDecide();"
            @mouseenter="$store.config.playSoundSelect()"
            type="button"
            aria-controls="works-carousel"
            data-type="prev"
            class:list={[
              //
              'carousel-arrow',
            ]}
          >
            <Icon name="icon_arrow" role="img" aria-label="前の画像に戻る" width={18} height={18} />
          </button>
          <p class="carousel-num">
            <span x-text="String(currentIndex + 1).padStart(2, '0')" class="carousel-current">01</span>
            <span class="carousel-line">/</span>
            <span class="carousel-total">{String(entry.data.gallery).padStart(2, '0')}</span>
          </p>
          <button
            @click="onNext(); $store.config.playSoundDecide();"
            @mouseenter="$store.config.playSoundSelect()"
            type="button"
            aria-controls="works-carousel"
            data-type="next"
            class:list={[
              //
              'carousel-arrow',
            ]}
          >
            <Icon name="icon_arrow" role="img" aria-label="次の画像に進む" width={18} height={18} />
          </button>
        </div>
      </div>
    </article>
    <Deco>
      <div class="deco">
        {entry.data.client.en}<br />{entry.data.title.en}
      </div>
    </Deco>
  </main>
  <PageFooter {...PageFooterData} />
</Layout>

<style>
  @import '@/styles/_mql.css';

  .p-works-detail {
    position: relative;
    display: grid;

    @media (--mql-md) {
      align-items: center;
    }
  }

  .article {
    display: grid;
    grid-template-areas: 'hdg' 'carousel' 'body';
    margin: calc(92 * var(--px)) calc(20 * var(--px)) calc(80 * var(--px));

    @media (--mql-md) {
      grid-template-areas: 'hdg hdg' 'body carousel';
      grid-template-columns: 1fr max-content;
      gap: 0 calc(80 * var(--px));
      margin: calc(32 * var(--px)) calc(64 * var(--px)) calc(80 * var(--px));
    }
  }

  .heading {
    display: grid;
    grid-area: hdg;
    margin-left: calc(4 * var(--px));
    line-height: 1;
    transform: skewX(-13deg);
    rotate: -13deg;

    @media (--mql-md) {
      row-gap: calc(4 * var(--px));
      margin-left: calc(16 * var(--px));
      transform: skewX(-16deg);
      rotate: -8deg;
    }
  }

  .heading-client {
    font-family: var(--font-zen-dots);
    font-size: calc(12 * var(--rem));
    color: var(--color-dark-gray);

    @media (--mql-md) {
      font-size: calc(16 * var(--rem));
    }
  }

  .heading-title {
    font-family: var(--font-dela-gothic);
    font-size: calc(32 * var(--rem));

    @media (--mql-md) {
      font-size: calc(72 * var(--rem));
    }
  }

  .p-works-detail-body {
    grid-area: body;
    margin-top: calc(56 * var(--px));

    @media (--mql-md) {
      margin-top: calc(116 * var(--px));
    }
  }

  .carousel {
    grid-area: carousel;
    margin-top: calc(64 * var(--px));

    @media (--mql-md) {
      width: calc(670 * var(--px));
      margin-top: calc(56 * var(--px));
    }
  }

  .carousel-viewport {
    overflow: hidden;
  }

  .carousel-list {
    display: flex;
  }

  .carousel-slide {
    flex: 0 0 101%;
    aspect-ratio: 16 / 9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-control {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: calc(12 * var(--px));
    align-items: center;
    width: fit-content;
    padding: calc(6 * var(--px)) calc(10 * var(--px));
    margin-top: calc(12 * var(--px));
    margin-left: auto;
    color: var(--color-main);
    background-color: var(--color-sub);
    border-radius: var(--infinity);

    @media (--mql-md) {
      column-gap: calc(16 * var(--px));
      padding: calc(6 * var(--px)) calc(10 * var(--px));
      margin-top: calc(16 * var(--px));
    }
  }

  .carousel-arrow {
    width: calc(14 * var(--px));
    aspect-ratio: 1;

    @media (--mql-md) {
      width: calc(18 * var(--px));
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-golden-yellow);
      }
    }

    &[data-type='prev'] {
      rotate: -180deg;
    }

    svg {
      width: 100%;
    }
  }

  .carousel-num {
    display: flex;
    column-gap: calc(6 * var(--px));
    align-items: center;
    font-family: var(--font-zen-dots);
    font-size: calc(12 * var(--rem));
    line-height: 1;

    @media (--mql-md) {
      column-gap: calc(8 * var(--px));
      font-size: calc(12 * var(--rem));
    }
  }

  .carousel-current,
  .carousel-total {
    min-width: calc(23 * var(--px));
    text-align: center;

    @media (--mql-md) {
      min-width: calc(27 * var(--px));
    }
  }

  .carousel-line {
    font-size: calc(10 * var(--rem));

    @media (--mql-md) {
      font-size: calc(10 * var(--rem));
    }
  }

  .deco {
    display: none;

    @media (--mql-md) {
      position: absolute;
      top: calc(198 * var(--px));
      left: calc(24 * var(--px));
      z-index: 1;
      display: block;
      font-family: var(--font-zen-dots);
      font-size: calc(140 * var(--rem));
      line-height: 1;
      color: var(--color-main);
      white-space: nowrap;
      opacity: 0.4;
      transform: skewX(-16deg);
      transform-origin: left top;
      rotate: -8deg;
    }
  }
</style>

<style is:global>
  @import '@/styles/_mql.css';

  .p-works-detail-body {
    * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      --_clip: calc(12 / 178 * 100%);

      width: fit-content;
      min-width: calc(160 * var(--px));
      padding: calc(8 * var(--px)) calc(16 * var(--px)) calc(10 * var(--px));
      margin-top: calc(24 * var(--px));
      font-family: var(--font-dela-gothic);
      font-size: calc(14 * var(--rem));
      line-height: 1;
      color: var(--color-main);
      text-align: center;
      background-color: var(--color-sub);
      clip-path: polygon(var(--_clip) 0%, 100% 0%, calc(100% - var(--_clip)) 100%, 0% 100%);

      @media (--mql-md) {
        min-width: calc(178 * var(--px));
        padding: calc(8 * var(--px)) calc(16 * var(--px)) calc(10 * var(--px));
        font-size: calc(16 * var(--rem));
      }

      + * {
        margin-top: calc(12 * var(--px));
      }
    }

    p {
      font-size: calc(12 * var(--rem));
      font-weight: 500;

      @media (--mql-md) {
        font-size: calc(14 * var(--rem));
      }
    }
  }
</style>
