---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import ImageFrame from '@/components/helper/ImageFrame.astro';
import AstroLink from '@/components/helper/AstroLink.astro';
import PageHdg from '@/components/ui/PageHdg.astro';
import PageFooter from '@/components/ui/PageFooter.astro';
import Deco from '@/components/ui/Deco.astro';

const metaData = {
  title: '制作実績 | Naganoma Rikuのポートフォリオ',
  description: '制作実績一覧。クリックすると詳細へ。',
};

const pageHdgData = {
  title: {
    ja: '制作実績',
    en: 'WORKS',
  },
};

const PageFooterData = {
  description: '制作実績一覧。クリックすると詳細へ。',
  nav: [
    {
      text: 'ホームに戻る',
      href: '/',
    },
    {
      text: '私について',
      href: '/about/',
    },
  ],
};

const works = await getCollection('works');
const worksData: CollectionEntry<'works'>[] = works.toSorted(
  (a: CollectionEntry<'works'>, b: CollectionEntry<'works'>) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<Layout title={metaData.title} description={metaData.description}>
  <main x-data="inview" class="p-works u-page-overlay">
    <PageHdg {...pageHdgData} />
    <div data-transition-slide x-data="worksTab" class="tab-menu">
      <div x-ref="tabControl" class="tab-control">
        <div x-bind="bindTarget" role="tablist" class="tab-list">
          {
            worksData.map((item, index) => (
              <button
                x-bind={`tab(${index})`}
                role="tab"
                aria-label={item.data.title.ja}
                aria-controls={`tabpanel-${item.id}`}
                class:list={[
                  //
                  'tab',
                ]}
                style={`--index: ${index}`}
              >
                <ImageFrame srcPaths={[`works/img_${item.id}01.jpg`]} />
              </button>
            ))
          }
        </div>
      </div>
      {
        worksData.map((item, index) => (
          <div
            x-bind={`tabpanel(${index})`}
            role="tabpanel"
            aria-labelledby={`tabpanel-title-${item.id}`}
            id={`tabpanel-${item.id}`}
            class:list={['tab-panel']}
            x-cloak={index > 0 || undefined}
          >
            <div class="thumb">
              <ImageFrame srcPaths={[`works/img_${item.id}01.jpg`]} />
            </div>
            <AstroLink href={`/works/${item.id}/`} class="info">
              <h2 id={`title-${item.id}`} class="title">
                <span class="client">{item.data.client.en}</span>
                <span class="page">{item.data.title.ja}</span>
              </h2>
              <p class="desc">{item.data.description}</p>
              <div class="detail">View Details</div>
            </AstroLink>
          </div>
        ))
      }
      <Deco>
        <div class="deco">
          {
            worksData.map((item, index) => (
              <div
                x-show={`currentIndex == ${index}`}
                x-transition:enter-start="is-hidden"
                x-transition:leave-end="is-hidden"
                class:list={[
                  //
                  'deco-text',
                ]}
              >
                <div class="deco-client">{item.data.client.en}</div>
                <div class="deco-title">{item.data.title.en}</div>
              </div>
            ))
          }
        </div>
      </Deco>
    </div>
  </main>
  <PageFooter {...PageFooterData} />
</Layout>

<style>
  @import '@/styles/_mql.css';

  .p-works {
    position: relative;

    @media (--mql-md) {
      display: grid;
      align-items: center;
    }
  }

  .tab-menu {
    position: relative;
    display: grid;
    gap: calc(48 * var(--px)) 0;
    padding: calc(223 * var(--px)) 0 calc(80 * var(--px));
    margin-top: calc(120 * var(--px));

    @media (--mql-md) {
      grid-template-columns: calc(384 * var(--px)) calc(680 * var(--px));
      gap: calc(42 * var(--px)) calc(88 * var(--px));
      padding: calc(120 * var(--px)) calc(64 * var(--px)) calc(64 * var(--px));
      margin-top: 0;
    }
  }

  .tab-control {
    overflow: hidden;

    @media (--mql-md) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .tab-list {
    display: flex;

    @media (--mql-md) {
      display: grid;
      grid-area: 1 / 1 / 2 / 2;
      grid-template-columns: repeat(3, calc(120 * var(--px)));
      gap: calc(12 * var(--px));
    }

    @media (scripting: enabled) {
      &[data-inview='true'] {
        @media (--mql-md) {
          .tab {
            opacity: 1;
            scale: 1;
          }
        }
      }
    }
  }

  .tab {
    position: relative;
    flex: 0 0 calc(100 * var(--px));
    aspect-ratio: 16 / 9;
    margin-right: calc(10 * var(--px));
    transition:
      scale 0.3s var(--ease-overshoot-out-dynamic) calc(var(--index, 0) * 0.02s),
      opacity 0.15s var(--ease-out-cubic) calc(var(--index, 0) * 0.02s);

    @media (--mql-md) {
      margin-right: 0;

      @media (scripting: enabled) {
        opacity: 0;
        scale: 0.8;
      }
    }

    &:not([aria-selected='true']) {
      @media (any-hover: hover) {
        &:hover {
          img {
            opacity: 0.8;

            @media (--mql-md) {
              scale: 1.05;
              animation: rotation-y 5s ease-in-out infinite;
            }
          }
        }
      }
    }

    &[aria-selected='true'] {
      &::before {
        opacity: 0.4;
      }
    }

    &::before {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: '';
      background-color: var(--color-black);
      opacity: 0;
      transition: opacity 0.2s var(--ease-out-cubic);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 0.1s var(--ease-overshoot-out-dynamic);
    }
  }

  .tab-panel {
    grid-area: 2 / 1 / 3 / 2;
    transition-duration: 0.4s;

    @media (--mql-md) {
      grid-area: 2 / 1 / 3 / 2;
      transition-duration: 0.3s;
    }

    &.is-enter-start,
    &.is-leave-end {
      --_pos: absolute;
    }

    &.is-enter-start {
      .info {
        opacity: 0;

        @media (--mql-md) {
          translate: 20% 0;
        }
      }

      .thumb {
        img {
          opacity: 0;
          translate: 20% 0;
        }
      }
    }

    &.is-enter-end,
    &.is-leave-start {
      .info {
        opacity: 1;

        @media (--mql-md) {
          translate: 0 0;
        }
      }

      .thumb {
        opacity: 1;

        img {
          translate: 0 0;
        }
      }
    }

    &.is-leave-end {
      .info {
        opacity: 0;

        @media (--mql-md) {
          translate: -20% 0;
        }
      }

      .thumb {
        img {
          opacity: 0;
          translate: -20% 0;
        }
      }
    }
  }

  .thumb {
    position: absolute;
    inset: 0 0 auto;
    display: grid;
    align-items: center;
    width: calc(360 * var(--px));
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    overflow: hidden;

    @media (--mql-md) {
      inset: 0 calc(64 * var(--px)) 0 auto;
      width: calc(680 * var(--px));
      margin: auto 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition:
        translate 0.25s var(--ease-out-cubic),
        opacity 0.4s var(--ease-out-cubic);

      @media (--mql-md) {
        transition:
          translate 0.15s var(--ease-out-cubic),
          opacity 0.2s var(--ease-out-cubic);
      }
    }
  }

  .info {
    --_line-color: var(--color-sub-blue);

    position: var(--_pos);
    display: block;
    padding-right: calc(16 * var(--px));
    padding-left: calc(16 * var(--px));
    transition: opacity 0.4s var(--ease-out-cubic);

    @media (--mql-md) {
      padding-right: 0;
      padding-left: 0;
      transition:
        translate 0.15s var(--ease-out-cubic),
        opacity 0.2s var(--ease-out-cubic);
    }

    @media (any-hover: hover) {
      &:hover {
        --_line-color: var(--color-golden-yellow);
      }
    }
  }

  .title {
    display: grid;
  }

  .client {
    font-family: var(--font-zen-dots);
    font-size: calc(12 * var(--rem));
    line-height: 1;
  }

  .page {
    font-family: var(--font-dela-gothic);
    font-size: calc(28 * var(--rem));

    @media (--mql-md) {
      font-size: calc(36 * var(--rem));
    }
  }

  .desc {
    margin-top: calc(8 * var(--px));
    font-size: calc(12 * var(--rem));
    font-weight: 500;
  }

  .detail {
    --_line-bottom: calc(4 * var(--px));

    width: fit-content;
    margin-top: calc(24 * var(--px));
    font-family: var(--font-zen-dots);
    font-size: calc(14 * var(--rem));
    background-image: linear-gradient(var(--_line-color) 0 0);
    background-repeat: no-repeat;
    background-position: 0 calc(100% - var(--_line-bottom));
    background-size: 100% calc(4 * var(--px));
  }

  .deco {
    display: none;

    @media (--mql-md) {
      position: absolute;
      top: calc(228 * var(--px));
      left: calc(24 * var(--px));
      z-index: 1;
      display: grid;
      grid-template-areas: 'text';
      font-family: var(--font-zen-dots);
      font-size: calc(140 * var(--rem));
      line-height: 1;
      color: var(--color-main);
      opacity: 0.4;
    }
  }

  .deco-text {
    grid-area: text;
    white-space: nowrap;
    transform: skewX(-16deg);
    transform-origin: left top;
    rotate: -8deg;
    transition: opacity 0.3s var(--ease-out-cubic);

    &.is-hidden {
      position: absolute;
      opacity: 0;
    }
  }
</style>
