---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import ImageVi from '@/assets/global/img_vi.png';
import Layout from '@/layouts/Layout.astro';
import AstroLink from '@/components/helper/AstroLink.astro';
import Calendar from '@/components/ui/Calendar.astro';
import Copyright from '@/components/ui/Copyright.astro';
import siteNav from '@/data/siteNav';
---

<Layout>
  <main class="p-home">
    <div class="container">
      <h1 class="title">
        <Icon
          name="logo_site"
          role="img"
          aria-label="ポートフォリオ バージョン2.0"
          width={320}
          height={71}
          class="title-logo"
        />
      </h1>
      <div class="vi">
        <Image src={ImageVi} alt="" />
      </div>
      <ul class="list">
        {
          siteNav.map((item) => (
            <li class="item">
              <AstroLink
                href={item.href.url}
                target={item.href.target ?? undefined}
                class:list={[
                  //
                  'link',
                ]}
              >
                <Icon
                  name={`icon_${item.icon.id}`}
                  role="img"
                  aria-hidden="true"
                  width={36}
                  height={36}
                  class="link-icon"
                />
                <span class="link-text">
                  <span class="link-ja">{item.title.ja}</span>
                  <span class="link-en">{item.title.en}</span>
                </span>
              </AstroLink>
            </li>
          ))
        }
      </ul>
    </div>
    <Calendar class="calendar" />
    <Copyright class="copyright" />
  </main>
</Layout>

<style>
  @import '@/styles/_mql.css';

  .p-home {
    position: relative;
    display: grid;
    padding-top: calc(90 * var(--px));
    padding-bottom: calc(16 * var(--px));

    @media (--mql-md) {
      padding-top: 0;
      padding-bottom: 0;
    }

    :global(.calendar) {
      position: absolute;
      top: calc(12 * var(--px));
      left: calc(12 * var(--px));

      @media (--mql-md) {
        top: calc(16 * var(--px));
        left: calc(16 * var(--px));
      }
    }

    :global(.copyright) {
      margin-top: calc(64 * var(--px));
      margin-right: calc(16 * var(--px));
      margin-left: auto;

      @media (--mql-md) {
        position: absolute;
        right: calc(24 * var(--px));
        bottom: calc(24 * var(--px));
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  .container {
    position: relative;

    @media (--mql-md) {
      align-self: center;
      height: calc(720 * var(--px));
    }
  }

  .title {
    width: calc(300 * var(--px));
    margin-right: calc(20 * var(--px));
    margin-left: auto;

    @media (--mql-md) {
      position: absolute;
      bottom: calc(24 * var(--px));
      left: calc(24 * var(--px));
      width: calc(320 * var(--px));
      margin-right: 0;
      margin-left: 0;
    }
  }

  .title-logo {
    width: 100%;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(12 * var(--px));
    margin-right: calc(12 * var(--px));
    margin-left: calc(12 * var(--px));

    @media (--mql-md) {
      --_offset: (16 * var(--px));

      position: absolute;
      top: calc(196 * var(--px));
      left: 0;
      gap: calc(16 * var(--px)) 0;
      width: calc(100% + var(--_offset) * 2);
      margin-right: 0;
      margin-left: 0;
    }
  }

  .item {
    position: relative;
    display: grid;

    @media (--mql-md) {
      rotate: -12deg;
    }

    &:nth-of-type(odd) {
      @media (--mql-md) {
        translate: calc(var(--_offset) * -1) 0;
      }
    }

    &:nth-of-type(even) {
      @media (--mql-md) {
        top: calc(22 * var(--px));
        translate: var(--_offset) 0;
      }

      .link {
        @media (--mql-md) {
          padding-left: calc(302 * var(--px));
        }
      }
    }
  }

  .link {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: calc(10 * var(--px));
    align-items: center;
    padding: calc(12 * var(--px)) calc(16 * var(--px));
    color: var(--color-pure-white);
    background-color: var(--color-black);

    @media (--mql-md) {
      column-gap: calc(16 * var(--px));
      padding: calc(8 * var(--px)) calc(78 * var(--px));
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-black);
        background-color: var(--color-golden-yellow);
      }
    }
  }

  .link-icon {
    width: calc(20 * var(--px));

    @media (--mql-md) {
      width: calc(36 * var(--px));
      transform: skewX(-12deg);
    }
  }

  .link-text {
    display: grid;
    row-gap: calc(6 * var(--px));

    @media (--mql-md) {
      transform: skewX(-12deg);
    }
  }

  .link-ja {
    font-family: var(--font-dela-gothic);
    font-size: calc(16 * var(--rem));
    line-height: 1;
    letter-spacing: 0.04em;

    @media (--mql-md) {
      font-size: calc(30 * var(--rem));
    }
  }

  .link-en {
    font-family: var(--font-zen-dots);
    font-size: calc(10 * var(--rem));
    line-height: 1;
    letter-spacing: 0.04em;

    @media (--mql-md) {
      font-size: calc(14 * var(--rem));
    }
  }

  .vi {
    position: relative;
    z-index: 1;
    width: calc(360 * var(--px));
    margin-top: calc(16 * var(--px));
    margin-right: auto;
    margin-left: auto;

    @media (--mql-md) {
      right: calc(16 * var(--px));
      width: calc(580 * var(--px));
      margin-top: 0;
    }

    img {
      width: 100%;
      filter: drop-shadow(calc(-20 * var(--px)) 0 0 rgb(255 179 237 / 30%));
    }
  }
</style>
