---
import { Icon } from 'astro-icon/components';

const circleData = [
  {
    pc: {
      src: 'img_circle-blue01.svg',
      width: '1028',
      height: '1028',
    },
    sp: {
      src: 'img_circle-blue01_sp.svg',
      width: '610',
      height: '610',
    },
  },
  {
    pc: {
      src: 'img_circle-blue02.svg',
      width: '920',
      height: '920',
    },
    sp: {
      src: 'img_circle-blue02_sp.svg',
      width: '720',
      height: '720',
    },
  },
  {
    pc: {
      src: 'img_circle-pink01.svg',
      width: '829',
      height: '829',
    },
    sp: {
      src: 'img_circle-pink01_sp.svg',
      width: '500',
      height: '500',
    },
  },
  {
    pc: {
      src: 'img_circle-blue03.svg',
      width: '1080',
      height: '1080',
    },
    sp: {
      src: 'img_circle-blue03_sp.svg',
      width: '717',
      height: '717',
    },
  },
  {
    pc: {
      src: 'img_circle-pink02.svg',
      width: '1085',
      height: '1085',
    },
    sp: {
      src: 'img_circle-pink02_sp.svg',
      width: '741',
      height: '741',
    },
  },
];
---

<div role="img" aria-hidden="true" class="l-bg">
  <div class="base">
    <div class="upper">
      <div class="upper-left">
        <Icon name="shape_dot" width={612} height={556} class="upper-dot" data-device="pc" />
        <Icon name="shape_dot_sp" width={429} height={237} class="upper-dot" />
      </div>
      <div class="upper-right">
        <Icon name="shape_dot" width={612} height={556} class="upper-dot" data-device="pc" />
        <Icon name="shape_dot_sp" width={429} height={237} class="upper-dot" />
      </div>
    </div>
    <div class="lower">
      <div class="lower-left">
        <div class="lower-box">
          <Icon name="shape_dot" width={612} height={556} class="lower-dot" data-device="pc" />
          <Icon name="shape_dot_sp" width={429} height={237} class="lower-dot" />
        </div>
      </div>
      <div class="lower-right">
        <div class="lower-box">
          <Icon name="shape_dot" width={612} height={556} class="lower-dot" data-device="pc" />
          <Icon name="shape_dot_sp" width={429} height={237} class="lower-dot" />
        </div>
      </div>
    </div>
  </div>
  <div class="anime">
    {
      circleData.map((item) => (
        <picture class="circle">
          <source
            media="(width >= 768px)"
            srcset={`/img/global/${item.pc.src}`}
            width={item.pc.width}
            height={item.pc.height}
          />
          <img src={`/img/global/${item.sp.src}`} alt="" width={item.sp.width} height={item.sp.height} />
        </picture>
      ))
    }
  </div>
</div>

<style>
  @import '@/styles/_mql.css';

  .l-bg {
    position: relative;
    z-index: -2;
    pointer-events: none;
  }

  .base {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas: 'item';
    width: 100%;
    height: max-content;
    min-height: 100%;

    img {
      width: 100%;
    }
  }

  .upper {
    position: relative;
    height: calc(321 * var(--px));

    @media (--mql-md) {
      height: calc(221 * var(--px));
    }
  }

  .upper-dot {
    width: calc(429 * var(--px));
    opacity: 0.8;

    @media (--mql-md) {
      display: none;
      width: calc(612 * var(--px));
    }

    &[data-device='pc'] {
      display: none;

      @media (--mql-md) {
        display: block;
      }
    }
  }

  .upper-left {
    position: absolute;
    top: calc(-161 * var(--px));
    left: calc(-129 * var(--px));
    color: var(--color-main-blue);
    rotate: 150deg;

    @media (--mql-md) {
      top: calc(-360 * var(--px));
      left: calc(-381 * var(--px));
      rotate: 146deg;
    }
  }

  .upper-right {
    position: absolute;
    top: calc(2 * var(--px));
    right: calc(-245 * var(--px));
    color: var(--color-main-pink);
    rotate: -115deg;

    @media (--mql-md) {
      top: calc(-212 * var(--px));
      right: calc(-427 * var(--px));
      rotate: -120deg;
    }
  }

  .lower {
    position: relative;
    align-self: flex-end;
    height: calc(361 * var(--px));

    @media (--mql-md) {
      height: calc(674 * var(--px));
    }
  }

  .lower-dot {
    position: absolute;
    width: calc(429 * var(--px));
    opacity: 0.3;

    @media (--mql-md) {
      display: none;
      width: calc(612 * var(--px));
    }

    &[data-device='pc'] {
      display: none;

      @media (--mql-md) {
        display: block;
      }
    }
  }

  .lower-box {
    position: relative;
    width: calc(625 * var(--px));
    height: calc(720 * var(--px));
    overflow: clip;
  }

  .lower-left,
  .lower-right {
    position: absolute;

    &::before {
      @media (--mql-md) {
        position: absolute;
        content: '';
      }
    }
  }

  .lower-left {
    bottom: calc(-454 * var(--px));
    left: calc(-482 * var(--px));

    @media (--mql-md) {
      bottom: calc(-107 * var(--px));
      left: calc(-119 * var(--px));
    }

    &::before {
      @media (--mql-md) {
        top: calc(102 * var(--px));
        left: calc(13 * var(--px));
        width: calc(625 * var(--px));
        height: calc(720 * var(--px));
        background-color: var(--color-main-blue);
        opacity: 0.6;
        rotate: 13deg;
      }
    }

    .lower-box {
      background-image: linear-gradient(180deg, var(--color-main-blue) 0%, var(--color-main) 100%);
      rotate: -13deg;
    }

    .lower-dot {
      top: calc(102 * var(--px));
      left: calc(286 * var(--px));
      color: var(--color-sub-blue);
      rotate: 90deg;

      @media (--mql-md) {
        top: calc(28 * var(--px));
        left: calc(-199 * var(--px));
      }
    }
  }

  .lower-right {
    right: calc(-402 * var(--px));
    bottom: calc(-469 * var(--px));

    @media (--mql-md) {
      right: calc(-101 * var(--px));
      bottom: calc(-185 * var(--px));
    }

    &::before {
      @media (--mql-md) {
        top: calc(-13 * var(--px));
        right: calc(60 * var(--px));
        width: calc(440 * var(--px));
        height: calc(485 * var(--px));
        background-color: var(--color-main-pink);
        rotate: 42deg;
      }
    }

    .lower-box {
      background-image: linear-gradient(180deg, var(--color-main-pink) 0%, var(--color-main) 100%);
      rotate: 28deg;
    }

    .lower-dot {
      top: calc(102 * var(--px));
      right: calc(286 * var(--px));
      color: var(--color-sub-pink);
      rotate: -90deg;

      @media (--mql-md) {
        top: calc(-19 * var(--px));
        right: calc(-180 * var(--px));
      }
    }
  }

  .anime {
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-areas: 'circle';
    place-items: center;
    height: max-content;

    @media (--mql-md) {
      inset: 0;
      margin: auto;
    }
  }

  .circle {
    grid-area: circle;
    animation: rotation 100s linear infinite var(--_anime-dir, normal);

    &:first-of-type {
      --_w: 610;

      @media (--mql-md) {
        --_w: 1028;
      }
    }

    &:nth-of-type(2) {
      --_w: 720;

      @media (--mql-md) {
        --_w: 920;
      }
    }

    &:nth-of-type(3) {
      --_w: 500;
      --_anime-dir: reverse;

      @media (--mql-md) {
        --_w: 829;
      }
    }

    &:nth-of-type(4) {
      --_w: 717;

      @media (--mql-md) {
        --_w: 1080;
      }
    }

    &:nth-of-type(5) {
      --_w: 741;
      --_anime-dir: reverse;

      @media (--mql-md) {
        --_w: 1085;
      }
    }

    img {
      width: calc(var(--_w) * var(--px));
      max-width: unset;
    }
  }
</style>
