---
import { Icon } from 'astro-icon/components';
import AstroLink from '@/components/helper/AstroLink.astro';
import MenuToggle from '@/components/ui/MenuToggle.astro';
import siteNav from '@/data/siteNav';
import snsNav from '@/data/snsNav';

interface Props {
  class?: string;
}

const {
  //
  class: className,
  ...props
} = Astro.props;
---

<header
  id="header"
  class:list={[
    //
    'l-header',
  ]}
>
  <nav x-data="globalMenu" aria-label="グローバルナビゲーション" class:list={'nav'}>
    <MenuToggle title="全てのメニューを開く" x-bind="bindOpen" aria-expanded="false" class="open" />
    <dialog
      x-bind="bindDialog"
      data-lenis-prevent
      aria-label="全てのメニュー"
      class:list={[
        //
        'l-menu',
      ]}
    >
      <MenuToggle title="全てのメニューを閉じる" x-bind="bindClose" aria-expanded="false" class="close" />
      <div x-ref="scroller" class="outer">
        <div class="inner">
          <ul class="list">
            <li class="list-item">
              <AstroLink href="/" class="list-link">
                <Icon name="icon_home" role="img" aria-hidden="true" width={24} height={24} class="list-icon" />
                <span class="list-text">ホーム</span>
              </AstroLink>
            </li>
            {
              siteNav.map((item) => (
                <li class="list-item">
                  <AstroLink href={item.href.url} target={item.href.target ?? undefined} class="list-link">
                    <Icon
                      name={`icon_${item.icon.id}`}
                      role="img"
                      aria-hidden="true"
                      width={24}
                      height={24}
                      class="list-icon"
                    />
                    <span class="list-text">{item.title.ja}</span>
                  </AstroLink>
                </li>
              ))
            }
          </ul>
          <div class="sns">
            {
              snsNav.map((item) => (
                <AstroLink href={item.href} target="_blank" class="sns-link">
                  <Icon name={`icon_${item.id}`} class="sns-logo" />
                </AstroLink>
              ))
            }
          </div>
        </div>
      </div>
    </dialog>
  </nav>
</header>

<style>
  @import '@/styles/_mql.css';

  .l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-header);
    width: 100%;

    :global(.open) {
      margin-left: auto;

      @media (any-hover: hover) {
        &:hover {
          color: var(--color-black);
          background-color: var(--color-golden-yellow);
        }
      }
    }
  }

  .l-menu {
    --_w: 230;
    --_clip-path: polygon(
      calc(164 / var(--_w) * 100%) 0,
      100% 0,
      100% calc(814 / 849 * 100%),
      0 100%,
      0% calc(35 / 849 * 100%)
    );

    width: calc(var(--_w) * var(--px));
    height: 100%;
    margin-left: auto;
    overscroll-behavior: contain;
    color: var(--color-black);
    transition:
      opacity 0.2s var(--ease-out-cubic),
      translate 0.2s var(--ease-out-cubic);

    &[data-toggle='close'] {
      opacity: 0;

      &::after {
        scale: 0 1;
      }

      .outer {
        translate: 100% 0;
      }
    }

    @media (--mql-md) {
      --_w: 280;
      --_clip-path: polygon(
        calc(200 / var(--_w) * 100%) 0,
        100% 0,
        100% calc(685 / 720 * 100%),
        0 100%,
        0% calc(35 / 720 * 100%)
      );
    }

    &::after {
      position: absolute;
      top: calc(10 * var(--px));
      left: calc(-10 * var(--px));
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: '';
      background-color: var(--color-black);
      clip-path: var(--_clip-path);
      transform-origin: right center;
      transition: scale 0.3s var(--ease-out-cubic);
    }

    :global(.close) {
      --_toggle-color: var(--color-pure-white);
      --_toggle-bg: var(--color-black);

      position: fixed;
      top: 0;
      right: 0;
      z-index: var(--z-header);

      @media (any-hover: hover) {
        &:hover {
          --_toggle-color: var(--color-black);

          background-color: var(--color-golden-yellow);
        }
      }
    }
  }

  .outer {
    height: 100%;
    overflow-y: auto;
    background-color: var(--color-pure-white);
    clip-path: var(--_clip-path);
    transition: translate 0.2s var(--ease-out-cubic);
  }

  .inner {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: calc(56 * var(--px));
    min-height: 100%;
    padding: calc(88 * var(--px)) calc(20 * var(--px)) calc(56 * var(--px));

    @media (--mql-md) {
      row-gap: calc(64 * var(--px));
      padding: calc(104 * var(--px)) calc(20 * var(--px)) calc(64 * var(--px));
    }

    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      pointer-events: none;
    }

    &::before {
      --_size: 4px;
      --_gap: 10px;

      inset: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-image: radial-gradient(
        circle,
        var(--color-dark-gray) calc(var(--_size) / 2),
        transparent calc(var(--_size) / 2)
      );
      background-position: 0 0;
      background-size: calc(var(--_size) + var(--_gap)) calc(var(--_size) + var(--_gap));
      opacity: 0.15;
    }

    &::after {
      top: 0;
      bottom: 0;
      left: calc(-43 * var(--px));
      width: fit-content;
      height: fit-content;
      margin-top: auto;
      margin-bottom: auto;
      font-family: var(--font-zen-dots);
      font-size: calc(120 * var(--px));
      line-height: 1;
      color: var(--color-dark-gray);
      white-space: nowrap;
      content: 'MENU';
      opacity: 0.1;
      rotate: -90deg;

      @media (--mql-md) {
        left: calc(-38 * var(--px));
        font-size: calc(140 * var(--px));
      }
    }
  }

  .list {
    display: grid;
    row-gap: calc(24 * var(--px));
    padding-right: calc(8 * var(--px));
    padding-left: calc(8 * var(--px));

    @media (--mql-md) {
      row-gap: calc(30 * var(--px));
      padding-right: calc(12 * var(--px));
      padding-left: calc(12 * var(--px));
    }
  }

  .list-item {
    display: grid;
  }

  .list-link {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: calc(10 * var(--px));
    align-items: center;
    font-family: var(--font-dela-gothic);
    font-size: calc(20 * var(--rem));

    @media (--mql-md) {
      column-gap: calc(12 * var(--px));
      font-size: calc(24 * var(--rem));
    }

    @media (any-hover: hover) {
      &:hover {
        --_line-w: 100%;
      }
    }

    &[aria-current='page'],
    &[aria-current='true'] {
      --_line-w: 100%;
    }
  }

  .list-icon {
    width: calc(20 * var(--px));

    @media (--mql-md) {
      width: calc(24 * var(--px));
    }
  }

  .list-text {
    width: fit-content;
    background-image: linear-gradient(var(--color-golden-yellow) 0 0);
    background-repeat: no-repeat;
    background-position: 0 calc(100% - 2 * var(--px));
    background-size: var(--_line-w, 0) calc(4 * var(--px));
  }

  .sns {
    display: flex;
    column-gap: calc(10 * var(--px));
    align-self: flex-end;
    justify-content: flex-end;
    height: fit-content;

    @media (--mql-md) {
      column-gap: calc(10 * var(--px));
    }
  }

  .sns-link {
    --_w: 36;
    --_clip-offset: calc((1 - 10 / 40) * 100%);
    --_clip-path: polygon(0 0, 100% 0, 100% var(--_clip-offset), var(--_clip-offset) 100%, 0 100%);
    --_bg-color: var(--color-pure-white);
    --_border-offset: 2px;
    --_border-color: var(--color-lynch);
    --_border: drop-shadow(calc(var(--_border-offset) * -1) var(--_border-offset) 0 var(--_border-color))
      drop-shadow(var(--_border-offset) calc(var(--_border-offset) * -1) 0 var(--_border-color))
      drop-shadow(calc(var(--_border-offset) * -1) calc(var(--_border-offset) * -1) 0 var(--_border-color))
      drop-shadow(var(--_border-offset) var(--_border-offset) 0 var(--_border-color));

    position: relative;
    display: grid;
    place-items: center;
    width: calc(var(--_w) * var(--px));
    aspect-ratio: 1;
    filter: var(--_border);
    clip-path: var(--_clip-path);

    @media (any-hover: hover) {
      &:hover {
        --_bg-color: var(--color-golden-yellow);
      }
    }

    &::before {
      position: absolute;
      inset: 0;
      width: calc(100% - var(--_border-offset));
      aspect-ratio: 1;
      margin: auto;
      pointer-events: none;
      content: '';
      background-color: var(--_bg-color);
      clip-path: var(--_clip-path);
    }
  }

  .sns-logo {
    position: relative;
    z-index: 1;
    width: 50%;
  }
</style>
